:root { font-size: 62.5%; font-family: monospace; margin: 0; padding: 0; box-sizing: border-box;}

body{font-size: 1.5rem;}

#section_proyect{display: flex;gap:35px;}

.nav_bar a{font-size: 30px; width: 250px;background: none; color: #000f3f; border-radius: 0;
    border-top: 2px solid #000f3f; border-bottom: 2px solid #000f3f; }

.nav_bar a:hover{color:rgb(184, 184, 184); border-top: 2px solid rgb(184, 184, 184); border-bottom: 2px solid rgb(184, 184, 184); 
    background: none;}

#main_container h1, h2{ text-align: center;}

.img_container img{width: 280px;border-radius: 12px;object-fit: contain;}

.img_container img:hover{width: 320px;height: 160px;}

.img_container{display: flex; width: 300px; height: 220px; place-content: center;}

.proyect_container{ display: flex; flex-direction: column; justify-content: center; align-items: center;
    width: 500px; height: 250px; margin: 0;}

.buttons_containers button, a{ margin-top: 15px; text-decoration: none; border: none; background: #000f3f; color: #fff;
    border-radius: 15px;}
.buttons_containers button:hover, a:hover{ background: rgb(184, 184, 184);color: #000f3f;} 

