:root{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
    font-family: monospace;
    font-size: 65.5%;
}
body{
    background: rgb(48, 48, 48);
    color: white;
    font-size: 1.8rem;
}
.main-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title img {
    width: 150px;
    border-radius: 100px;
}
.main-title h1{
    font-size: 4rem;
    font-weight: 100;
    background: orangered;
}
.main-title p {
    margin-bottom: 35px;
    font-size: 2rem;
}
.container {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    justify-items: center;
}
.container img {
    width: 100px;
    border-radius: 8px;
    background: white;
    position: relative;
}
.container img:hover {
    cursor: pointer;
    width: 150px;
    box-shadow: 0 1px 6px 0 #181818;
    border: 1px solid #3d3d3d;
}
.container p:hover {
    text-align: unset;
}

.container p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cursos {
    justify-content: center;
    position: relative;
    padding: 0 24px;
    text-align: center;
}
.curso-icon {
    justify-content: center;
    position: relative;
}
footer{
    display: flex;
    background-color: grey;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    height: .5fr;
}

