html{
    font-size: 62.5%;
    font-family: monospace, 'Courier New', Courier;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
    margin: 0;
}
.nav-bar ul{
    text-align: center;
    width: 100%;
    min-width: 320px;
    padding: 0;
}
.nav-bar ul li{
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 5px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.main-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px auto;
    width: 100%;
    min-width: 320px;
    height: 334px;
}
.main-title img{
    border-radius: 100%;
    justify-content: center;
    width: 180px;
    max-width: 300px;
}
.main-title h1{
    background-color: orangered;
}
.main-title {
    text-align: center;
    font-size: 1.8rem;
    padding: 0;
}
.container{
    display: flex;
    width: auto;
    height: auto;
    text-align: center;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    
}
.container img{
    width: 150px;
    background-color: white;
    height: auto;
    border-radius: 10px;
    scroll-snap-align: center;
    align-items: center;
}
.cursos{
    font-size: 1.8rem;
    width: 230px;
    text-align: center;
    margin-left: 15px;
}
.curso-icon {
    padding: 0 10px;
    text-align: center;
}
.footers{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 450px){
    .nav-bar ul li{
        font-size: 1.8rem;
        margin: 0 10px;
    }
    .container{
        justify-content: center;
    }
}

