html{
    font-family: monospace;
    font-size: 65.5%;
}
body{
    background: rgb(48, 48, 48);
    color: white;
}
.main-title {
    text-align: center
}
.main-title h1{
    font-size: 4rem;
    font-weight: 100;
    background: orangered;
    display: inline-block;
    padding: 0 2rem;
}
.main-title p {
    margin-bottom: 50px;
    font-size: 2rem;
}
.container {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    justify-items: center;
}
.container img {
    width: 100px;
    border-radius: 12px;
    background: white;
    position: relative;
}
.container img:hover {
    cursor: pointer;
    width: 150px;
}
.container p:hover {
    text-align: unset;
}

.container p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cursos {
    justify-content: center;
    position: relative;
    padding: 0 24px;
    text-align: center;
}
.curso-icon {
    justify-content: center;
    position: relative;
}
footer{
    background-color: grey;
    text-align: center;
}

