*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.firt{
    background-color: black;
    height: 75vh;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    
}
.coffee{
    position: relative;
    height: 75%;
    width: auto;
}