body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
#main_container_contact{
    display: flex;
    gap: 40px;
    top: 0;
}
.container{
    text-align: center;
    height: 80%;
    padding: 10px;
}
header{
    margin-top: 25px;
}
#map{
    height: 70vh;
    margin-top: 30px;
    border-radius: 25px;
}
.container h4{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 15 auto 15 auto;
    margin: 0;
}
.container p{
    font-weight: 100;
}
.title_2{
    border-bottom: solid 2px black;
}
.comment_container{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 250px;
    align-items: center;
}
.input_first{
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.input_first input{
    width: 50%;
}
.input_second{
    width: 89%;
    margin-top: 10px;
    height: 100px;
}
button{
    margin-top: 5px;
    width: 90%;
}

@media (max-width: 880px){
    #map{
        width: auto;
        height: 70vh;
        margin-top: 30px;
        margin: auto;
        border-radius: 4px;
    }
    body{
        height: auto;
        justify-content: center;
        align-items: center;
        margin-top: 55px;
    }
    body #navbar{
        display: none ;
    }

}
@media (max-width: 580px){
    body{
        height: auto;
    }
    .map_container{
        margin: auto;
    }
    #map{
        max-width: 90%;
        height: auto;
        margin: 30px auto 15px auto;
        margin-top: 30px;
    }
    #main_container_contact{
        flex-direction: column;
        margin: 0;
    }
    .container h4{
        flex-direction: column;
    }
    .comment_container{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    
}