* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
::selection{
    background-color: var(--primary-color);
    color: var(--bg-color);
}
body, 
.container_type,
.description_cont div,
.lo_que div,
.us_sect,
.contact_ div:nth-child(1) {
    display: flex;
    flex-direction: column;
    color: #5f6062;
}

.scroller{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}
/* .scroller section {
    scroll-snap-align: start;
} */
body 
{margin: 0;padding: 
    0;background-color: var(--bg-color);
    color: var(--font-text);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.myVideo{
    z-index: 0;
    position: absolute;
    object-fit:cover ;
    width: 100vw;
    height: 350px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    bottom: 0;
}
.banda_video{
    background-color: var(--primary-color);
    position: absolute;
    width: 70%;
    height: 15%;
    top: 25px;
    z-index: 1;
    left: 15vw;
    opacity: .4;
    border-radius: 5px;
}
.servicios_en_video{
    z-index: 2;
    color: var(--bg-color);
}
.Servicios_cahnge{
    font-weight: bold;
    color: var(--bg-color);
    font-style: normal;
    font-size: 3em;
    border-radius: 15px;
    font-weight: 500;
    padding: 0;
    margin-left: 25px;
    text-shadow: rgb(48, 48, 48) 1px 0 10px;
}
.typed{
    margin-top: 20px;
}
.container_type{
    z-index: 2;
    width: 100vw;
    margin: 0;
    padding: 0;
}
.backgroung_img{
    display: flex;
    position: relative;
    justify-content: center;
    font-weight: 500;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 250px;
    overflow-x: hidden;
}
.label_section_cont{
    display: flex;
    align-items: center;
}
.label_section{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    margin:0 35px;
    height: 3px;
    align-items: center;
    width: 50%;
}
.backgroung_img h3{
    margin-top: 25px;
    display: inline;
    font-weight: 600;
    width: 90vw;
    padding: 5px;
    font-size: 2em;
    margin-left: 20px;
    display: inline;
}
.description_cont{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10vw;
    margin: 50px 0;
}
.description_cont > * + * {
    margin-left: 25px;
}


.description_cont
.alcon h3{
    color: var(--font-text);
}

.description_cont div{
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.description_cont p{
    height: 25px;
    font-size: 1.7em;
}
.description_cont h2 , .lo_que h2{
    height: 36px;
    font-size: 1.7em;
    color: var(--font-text);
}
.description_cont span{
    padding: 50px;
    border-right: 3px solid var(--font-text);
    height: 100%;
    display: inline;
}
.description_cont p:nth-child(3){
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}
.lo_que{
    display: flex;
    color: var(--font-text);
    gap: 5vw;
    text-align: justify; 
}
.lo_que div{
    justify-content: center;
    align-items: center;
    color: var(--font-text);

}
.lo_que h2:nth-child(2){
    color: var(--primary-color);
}
.us_sect{
    position: relative;
    margin-top: 25px;
    align-items: center;
    /* scroll-snap-align: start; */
    height: 100%;
}

.services_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    gap: 7vw;
    text-align: justify;
}
.text_si{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-bottom: 30px;
}
.services_cont P{
    width: 70%;
}
.title_team{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    color: var(--primary-color);
}
.us_sect_img{
    width: 65vw;
    height: 350PX;
    aspect-ratio: 21/ 9;
    margin: auto;
    object-fit: contain;
}
.services_cont h2:nth-child(1){
    color: var(--primary-color);
}
.services_cont h2{
    display: inline;

}
.main_sect{
    height: auto;
    width: 98vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

.cards_containers{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    display: flex;
}
.cards_containers > * + * {
    margin-top: 45px;
}

.cards_containers div{
    display: flex;
}
.cards_containers div > * + * {
    margin-left: 45px;
}
.cards_containers .second_cards_sect{
    display: flex;

}
.cards_containers img{
    width: 150px;
    height: 200px;
    object-fit: scale-down;
    border-radius: 3px;
}
.cards_containers img:hover{
    transform: rotate(.5deg);
    object-position: 0;
}
.contact_{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 7vh 3vw;
    gap: 35px;
}
.contact_ div:nth-child(1){
    justify-content: center;
    align-items: center;

}
.contact_ div:nth-child(1) h3:nth-child(2){
    color: #e26122;
}
.contact_ div:nth-child(1) h3:nth-child(2){
    margin-bottom: 52px;
}
.card{
    position: relative;
    width: 150px;
    height: 240px;
    color: var(--bg-color);

}
.cards_containers h4{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -10px;
    background-color: var(--bg-secondary);
    height: 55px;
    width: 150px;
    margin: 0;
    color: var(--bg-color);
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
}
.line_contact_{
    border-right: 2.5px solid rgb(92, 92, 92);
    height: 350px;
    width: 50px;
}
.proyectos_ img{
    width: 35px;
    height: 45px;
}
.us_{
    height: auto;
}
.us_line{
    display: block;
    width: 80%;
    height: 5px;
    border-bottom: 4px solid var(--font-text);
    margin-bottom: 25px;
}
.cards_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}
.cards_text h2{
    color: var(--primary-color);
}
.proyectos_{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 3vw;
    align-items: center;
    margin: 15px auto;
}
.form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    gap: 15px;
}
.input_contact{
    display: flex;
    gap: 15px;
}
.form_container form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.input_name{
    width: 100%;
}
#comments{
    width: 100%;
    height: 150px;
    border-radius: 7px;
}
.arrow_{
    fill: var(--primary-color);
}
#whats_icon{
    position: fixed;
    bottom: 1px;
    left: 5px;
    filter:drop-shadow(1px 1px 3px #272727);
}
#whats_icon:hover{
    width: 150px;
    height: 150px;
}
@keyframes type{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}
.img_space{
    width: 150px;
    height: auto;
}
.img_uno{
    position: absolute;
    width: 20%;
    height: auto;
    right: 0;
}
.img_dos_cont{
    width: 150px;
    height: 280px;
}
.img_dos_cont img{
    position: absolute;
    right: 0;
    margin-top: 25px;
    height: 280px;
}
.us_img_cont{
    display: flex;
}
.team_conteiner{
    display: flex;
    justify-content: start;
    width: 90%;
    height:0;
    /* overscroll-behavior-x: cover;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    overscroll-behavior-x: contain;
    margin: 0 auto;
    margin-top: 25px; */
}
.team_conteiner> * + * {
    margin-left: 50px;
}
.new_{
    width: auto;
    height: 600px;
    position: relative;
}
.card_team, .new_{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    background-color: #2e2e2e;
    border-radius: 5px;
    color: var(--bg-color);
}
.img_team{
    width: 200px;
    filter: saturate(0);
    position: absolute;
    top: -20px;
}
.new_:hover .img_team{
    transform: scale(1.4);
    z-index: 3;
    filter: saturate(1);
    align-self: flex-start;
    position: absolute;
    bottom: 105px;
    right: 15px;
    color: var(--bg-color);
}
.Selected_team{
    transform: scale(1.4);
    z-index: 3;
    filter: saturate(1);
    align-self: flex-start;
    position: absolute;
    bottom: 105px;
    right: 15px;
}
.new_:hover .team_info{
    position: absolute;
    bottom: -25px;
    z-index: 4;
    background-color: var(--primary-color);
    color: var(--bg-color);
}
.new_:hover h3{
    color: var(--bg-color);
}
.new_  h4, h2{
    color: var(--bg-color);
}
.team_info .new_ h4:hover{
    color: #a53700;
}
.new_ h3{
    margin: 0;
    initial-letter: 0;
    line-height: 5px;
    color: var(--bg-color);

}
.new_ h3, .new_ p{
    margin-bottom: 0;
    font-size: 12px;
    color: var(--bg-color);

}
.team_info{
    display: flex;
    flex-direction: column;
    background-color: var(--font-text);
    text-align: center;
    width: 250px;
    height: 90px;
    position: absolute;
    bottom: 0;
    color: var(--bg-color);

}
.new_:hover h2{
    box-shadow: 12px 4px 3px 2px rgba(0, 0, 0, .05);
    color: var(--bg-color);
}
.brands_cont img{
    height: 120px;
    width: auto;
}
.brands_cont{
    display: flex;
    background-color: #2e2e2e;
    height: 160px;
    width: 90vw;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    overscroll-behavior-x: cover;
    align-items: center;
    overflow-x: hidden;
    box-sizing: content-box;
}
.brands_cont > * + * {
    margin-left: 70px;
}
.conta_salider img{
    height: 400px;
    object-fit: cover;
}
.team{
    display: flex;
    align-items: center;
    height: 600px;

}
 .desplegable{
    display: none;
    border-style: none;
    text-align: center;
    align-items: center;
    padding: 5px;
    color: var(--font-text);
    box-sizing: border-box;
}
.services_cont_pi{
    display: flex;
    flex-direction: column;
    width: 30vw;
    border-radius: 8px;
    padding: 15px;
    height: 120px;
    text-align: center;
    box-shadow: rgb(184, 184, 184) 2px 0 8px;
}
.services_cont_pi:hover .desplegable{
    display: flex;
}
.services_cont_pi:hover{
    height: fit-content;
}
.cont_cont_serv_pi{
    display: flex;
    gap: 15px;
    margin: 35px 0;
    
}
.services_cont_pi div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 35px;
    padding: 15px;
}
.hijo_serv_pi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.alcon .desplegable{
    color: #104175;
}
.alcon{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    scroll-snap-align: none;
}
.noVisible{
display: none;
}
.visible{
    display: visible;
}
.uno_arrow {
    width: 25px;
    height: 25px;
}
.main_alcon_cont{
    display: flex;
}
.alcon_logo{
    display: flex;
    align-self: center;
    justify-self: center;
    margin: 35px 0;
    width: 200px;
    padding:0 50px;
    box-sizing: border-box;
}
.services_cont_alcon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
}
.services_cont_alcon .desplegable{
    display: flex;
    color: var(--font-text);
    background-color: var(--bg-color);
}
.piServices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 25px;
    padding: 0 5vw;
    box-sizing: border-box;
}
.piServices h3{
    display: flex;
    margin: 0 auto;
    text-align: center;
}
 .div_conte_serv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.piServices .div_conte_serv h3{
    display: flex;
    align-self: center;
    color: var(--primary-color);
    margin: auto 0 auto 4px;
}
.div_conte_serv h2, h3{
    font-size: 20px;
    text-align: center;
}
.img_con_pi{
    width: 30vw;
}
.img_con_pi img{
    width: 400px;
}
.pi_main_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* scroll-snap-align: start; */
}
.services_cont_pi h2 ,h3{
    font-size: 20px;
    margin: 0 auto;
}
.services_cont_pi h2 {
    color: var(--font-text);
}
.services_cont_pi h3{
    color: var(--primary-color);
}
.services_cont_pi .desplegable:hover{
    background-color: var(--primary-color);
    color: var(--bg-color);
}
.services_cont_pi .desplegable:hover .uno_arrow{
    fill: var(--primary-color);
}
section [id]{
    scroll-margin-top: 70px!important;
}
.img_mercadeo img{
    height: 500px;
    width: 300px;
    object-fit: cover;}

.img_mercadeo{
    display: flex;
}
.mercadeo .container .quote .picture_ img{
    display: none;
    font-size: small;
}
.quote{
    text-align: center;
}
.quote p{
    text-align: center;
    color: var(--font-text);
}
.quote h3{
    font-size: 25px;
}
.bold_text{
    font-weight: bold;
}
.foda_cont{
    display: flex;
    font-size: medium;
    font-family: 'Poppins', sans-serif;   
}
.foda_title, .analisis_comp_title, .mercado_title, .retargering_title{
    background-color: #f1ab11;
    color: var(--font-text)!important;
    border-radius: 15px;
    padding: 0 10px;
}
.retargeting_list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--font-text);
    padding: 2px;
    border-radius: 25px 100px 100px 25px;
    margin: 10px 0;
    font-size: small;
    line-height: 15px;
}
.retargeting_list img{
    width: 75px;
    height: 75px;
    background-color: var(--primary-color);
    padding: 7px;
    border-radius: 100%;
    border: 8px solid var(--bg-color);
}
.buyer_cont{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30px;
    background-color: #f1ab11;
    color: var(--font-text)!important;
    border-radius: 15px;
}

.analicis_mercado{
    display: flex;
    justify-content: start;
    align-content: center;
    background-color: var(--primary-color);
    border-radius: 25px;
    font-size: small;
    margin: 7px 0;
    width: 105%;
    height: 30px;
}
.analicis_mercado p{
    background-color: var(--font-text);
    border-radius: 100%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
}
.analicis_cont{
    display: flex;
    flex-direction: column;
}
.analisis-h4{
    background-color: var(--font-text);
    color: var(--bg-color);
    border-radius: 25px;
    width: 80%;
    margin-left: 10px;
    text-align: center;
}

img .picture_{
    display: none;
}
.info_merca_cont{
    display: flex;
    margin: 35px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    z-index: 5;
    color: var(--font-text);
}
.mercadeo h3{
    color: var(--primary-color);
    }
.info_merca_cont p{
    font-size: medium;
}




