body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.ico{
    width: 12px;
    filter: invert(100%);
    margin-right: 7px;
    align-self: center;
    justify-self: center;

}
#contact_header{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    background-color: orangered;
    color: aliceblue;
    align-items: center;
    height: 30px;
} 
#contact_header p :nth-child(2){
    margin-right: 25px;
}
#brands_{
    display: flex;
    background-color: grey;    
    justify-content: center;
    align-items: center;
}
#main_content_inicio{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#portal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image: url(../assets/img/foto_web.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.buttons_inicio{
    display: flex;
    gap: 15px;
}
button{
    background-color: hsla(0, 5%, 29%, 0.7);
    color: aliceblue;
    border: solid 1px black;
}
button:hover{
    background-color: orangered;
}





@media (min-width: 880px){
     #navbar{
        display: none;
    }
}


