:root {
    --bg-color: #f7f7f7;
    --primary-color: #e26122;
    --bg-secondary: rgb(56, 56, 56);
    --font-text: #5f6062;
    --button: #f7f7f7;
  }

@media (max-width: 780px){

    .description_cont, .lo_que, #home, #contact_, .proyectos_, .logo_icon{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .description_cont span,
    .arrow_, .img_dos_cont, 
    .us_line, .line_contact_,
    .img_uno{
        display: none;
    }
    .myVideo{
        height: auto;
    }
    .scroller section {
        scroll-snap-align: start;
    }
    #us_, .services_cont, .us_img_cont{
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: auto;
    }
    .services_cont P{
        width: auto;
        padding: 0 5vw;
    }
    #piServices  .lo_que h2{
        font-size: 30px;
    }
    
    #piServices{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 75px;
        width: 100vw;
        box-sizing: border-box;
    }
    #piServices h2{
        text-align: center;
        font-size: 18px;
        color: var(--font-text);
    }
    #piServices .lo_que{
        padding: 0 5vw;
        margin-top: 30px;
    }
    .button{
        scroll-snap-type: y mandatory;
    }
    #home, .proyectos_{
        height: auto;
    }
    .proyectos_{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .proyectos_{
        position: relative;
        margin: 65px 0;
        padding: 25px 0;
        gap: 0;
    }
    .services_cont, .proyectos_{
        flex-direction: column-reverse;
    }
    .cards_text .button{
        position: absolute;
        bottom: -65px;
        left: 15px;
        right: 15px;
    }
    .cards_text{
        gap: 15px;
    }
    .cards_containers{
        display: flex;
        margin-top: 3vh;
        width: 100%;
        height: 100%;
        padding: 0 10px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
        justify-content: start;
        overflow-y: hidden;
        scroll-behavior: smooth;

    }
    .cards_containers::-webkit-scrollbar {
        display: none;
    }
    .cards_containers div{
        display: flex;
        gap: 20px;
    }
    .cards_containers .second_cards_sect, .first_cards_sect{
        display: flex;
    }
    .first_cards_sect{
        padding: 0 0 0 55px;
    }
    .second_cards_sect{
        padding: 0 55px 0 0;

    }

    .card {
        width: 260px;
        height: 350px;
        object-fit: scale-down;
        scroll-snap-align: center;
        align-items: center;
        box-shadow: rgb(184, 184, 184) 2px 0 8px;
    }
    .card img{
        text-align: center;
    }
    iframe{
        width: 90vw;
    }
    .logo_icon{
        width: 100px;
        height: auto;
        margin: 25px auto;

    }
    .cards_containers img{
        width: auto;
        height: auto;
        object-fit: scale-down;
        border-radius: 3px;
    }
    .typed{
        display: flex;
        font-size: 12px;
    }
    .cards_containers{
        height: auto;
    }
    .cards_containers h4{
        width: 260px;
        height: 65px;

    }
    .conta_salider img{
        width: 100vw;
        height: 200px;
    }
    .main_alcon_cont{
        gap: 35px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div_conte_serv{
        flex-direction: column;
        gap: 0;
    }
    #piServices .div_conte_serv h3{
        color: var(--primary-color);
    }
    .pi_main_cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 15px;
        width: 100vw;
        box-sizing: border-box;
    }
    .cont_cont_serv_pi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100vw;
        align-items: center;
        box-sizing: border-box;
    }
    .img_con_pi img{
        width: 150px;
        margin: 0 ;
        padding: 0;
    }
    .brands_cont{
        width: 100%;
        height: 100px;
    }
    #venta{
        width: 100vw;
    }
    .services_cont_alcon{
        width: 100vw;
        box-sizing: border-box;
    }
    
.services_cont_pi h2, h3{
    text-align: center;
}
.div_conte_serv h3 {
    color: var(--bg-color);
}
.services_cont_pi{
    padding: 15px;
    width: 100vw;
    box-sizing: border-box;
    background-color: var(--bg-color);
    width: 80vw;
    border-radius: 15px;
    box-shadow: rgb(211, 211, 211) 1px 0 8px;
}
#Alcon{
    width: 100vw;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.desplegable{
    display: flex;
    border-radius: 0;
    justify-items: center;
    border: none;
    align-self: center;
    background: none;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
}
.desplegable .uno_arrow{
    display: none;
}
#venta{
    width: 90vw;
    box-sizing: border-box;
}
#venta_inm{
    width: 90vw;
    padding: 0 15px;
    text-align: justify;
    box-sizing: border-box;
}
.services_cont_alcon{
    width: 100vw;
    box-sizing: border-box;
    text-align: justify;
}

section [id]{
    scroll-margin-top: 150px;
}
.map_sect_cont{
    display: flex;
    height: 100%;
    margin: 5vh 0;
    scroll-snap-align: center;
}
.form_container{
    scroll-snap-align: center;
    scroll-margin-top: 150px;
    margin: 5vh 0;


}

    
}