:root {
    --bg-color: #f7f7f7;
    --primary-color: #e26122;
    --bg-secondary: rgb(56, 56, 56);
    --button: #f7f7f7;
    --font-text: #5f6062;

  }
  .form_container h3{
    color: var(--font-text);

  }

@media (max-width: 780px){
    p{
        color: var(--font-text);
    }
    h3{
        font-size: 20px!important;
    }
    .whats_icon{
        z-index: 100;
    }

    .description_cont, .lo_que, .main_sect, .contact_, .proyectos_, .logo_icon{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .hijo_serv_pi h3{
        z-index: 2;
    }
    .description_cont span,
    .arrow_, .img_dos_cont, 
    .us_line, .line_contact_,
    .img_uno{
        display: none;
    }
    .myVideo{
        height: auto;
    }
    .scroller section {
        scroll-snap-align: start;
    }
    #us_, .services_cont, .us_img_cont{
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: auto;
    }
    .services_cont P{
        width: auto;
        padding: 0 5vw;
    }
    .label_section_cont{
        width: 100vw;
    }
    .piServices  .lo_que h2{
        font-size: 30px;
    }
    .services_cont h3{
        color: var(--font-text);
    }
    
    .piServices{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 75px;
        width: 100vw;
        box-sizing: border-box;
    }
    .piServices h2{
        text-align: center;
        font-size: 18px;
        color: var(--font-text);
    }
    .piServices .lo_que{
        padding: 0 5vw;
        margin-top: 30px;
    }
    .button{
        scroll-snap-type: y mandatory;
    }
    .main_sect .proyectos_{
        height: auto;
    }
    .proyectos_{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .proyectos_{
        position: relative;
        margin: 65px 0;
        padding: 25px 0;
        gap: 0;
    }
    .services_cont, .proyectos_{
        flex-direction: column-reverse;
    }
    .cards_text .button{
        position: absolute;
        bottom: -65px;
        left: 15px;
        right: 15px;
    }
    .cards_text{
        gap: 15px;
    }
    .cards_containers{
        display: flex;
        flex-direction: row;
        margin-top: 3vh;
        width: 100%;
        height: 100%;
        padding: 0 10px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
        justify-content: start;
        overflow-y: hidden;
        scroll-behavior: smooth;
        justify-content: start;

    }
    .cards_containers::-webkit-scrollbar {
        display: none;
    }
    .cards_containers div{
        display: flex;
        gap: 20px;
    }
    .cards_containers .second_cards_sect, .first_cards_sect{
        display: flex;
    }
    .first_cards_sect{
        padding: 0 0 0 55px;
    }
    .second_cards_sect{
        padding: 0 55px 0 0;

    }

    .card {
        width: 260px;
        height: 350px;
        object-fit: scale-down;
        scroll-snap-align: center;
        align-items: center;
        box-shadow: rgb(184, 184, 184) 2px 0 8px;
    }
    .card img{
        text-align: center;
    }
    iframe{
        width: 90vw;
    }
    .logo_icon{
        width: 100px;
        height: auto;
        margin: 25px auto;

    }
    .cards_containers img{
        width: auto;
        height: auto;
        object-fit: scale-down;
        border-radius: 3px;
    }
    .typed{
        display: flex;
        font-size: 12px;
    }
    .cards_containers{
        height: auto;
    }
    .cards_containers h4{
        width: 260px;
        height: 65px;

    }
    .conta_salider img{
        width: 100vw;
        height: 200px;
    }
    .alcon h3{
        font-size: 30px;
    }
    .main_alcon_cont{
        gap: 35px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        z-index: 0;
    }
    .div_conte_serv{
        flex-direction: column;
        gap: 0;
    }
    .piServices .div_conte_serv h3{
        color: var(--primary-color);
        z-index: 1;
    }
    .pi_main_cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: 15px;
        box-sizing: border-box;
    }
    .cont_cont_serv_pi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 25px;
        padding: 0;
        align-items: center;
        box-sizing: border-box;
    }
    .img_con_pi img{
        width: 200px;
        margin: 0 ;
        padding: 0;
    }
    .brands_cont{
        width: 100%;
        height: 100px;
    }

    .services_cont_alcon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        box-sizing: border-box;
        box-shadow: rgb(211, 211, 211) 1px 0 8px;
    }
    .services_cont_alcon .desplegable  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: auto 15px;
        text-align: center;

    }
    
    
.services_cont_pi h2, h3{
    text-align: center;
}
.div_conte_serv h3 {
    color: var(--bg-color);
}
.map_sect_cont h3{
    color: var(--font-text);
    z-index: 1;

}
.services_cont_pi{
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--bg-color);
    width: 80vw;
    height: auto;
    border-radius: 15px;
    box-shadow: rgb(211, 211, 211) 1px 0 8px;
}
#Alcon{
    width: 100vw;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 0;
}
.quote p, h3{
    z-index: 0;
    font-size: 10px;
}
.quote p{
    z-index: 0;
    font-size: medium;
}

.desplegable{
    display: flex;
    border-radius: 0;
    justify-items: center;
    border: none;
    align-self: center;
    background: none;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    color: var(--font-text);
}
.desplegable .uno_arrow{
    display: none;
}
.venta_{
    width: 90vw;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: center;
}
#venta_inm, #Busqueda_Esp, #Estudios_mer{
    width: 80vw;
    padding: 0 15px;
    text-align: center;
    box-sizing: border-box;
}


section [id]{
    scroll-margin-top: 150px;
}
.map_sect_cont{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5vh 0;
    scroll-snap-align: center;
}
.form_container{
    scroll-snap-align: center;
    scroll-margin-top: 150px;
    margin: 5vh 0;
} 

.quote{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    padding: 20px 5px;
    padding-top: 70px ;

    text-align: center;
    border-radius: 15px;
    height: 70vh;
    background: linear-gradient(25deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.analicis_mercado{
    width: 90%;
    color: var(--bg-color);
    margin: 7px auto;
    padding: 5px;
}
.analicis_mercado p{
    color: var(--bg-color);

}
.analicis_cont li:nth-child(1){
    line-height: 20px;
    height: 45px;
}
.analicis_cont li:nth-child(5){
    line-height: 20px;
    height: 45px;
}

.mercadeo h3{
color: var(--primary-color);
z-index: 0;
font-size: 30px;
}

.info_merca_cont{
    display: flex;
    margin: 35px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    z-index: 5;
    color: var(--font-text);
}
.info_merca_cont p{
    font-size: medium;
    text-align: justify;
    padding: 5vw;

}
.text_si{
    z-index: 0;
}
.container{
    display: flex;
    gap: 15px;
    z-index: 0;
    position: relative;
    height: 70vh;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    overflow-y: hidden;
    scroll-behavior: smooth;
    justify-content: start;
    padding: 0 15vw;
    background-color: var(--bg-color);
}
.retargeting_list{
    height: 75px;
    color: var(--bg-color);
    height: 120px;
    font-size: 15px;
    line-height: 15px;
}
.analisis-h4{
    margin: 15px 0;
}
.container h3{
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
    top: 15px;

}
.retargeting_p {
    line-height: 20px;
}
.quote p, h3{
    display: flex;
    justify-items: center;
    align-self: center;
    z-index: 5;
    font-size: small;
    position: static;
}
div [class]{
    scroll-snap-align: center;
}
.quote:before {
    content: "";
    inset: 0;
    background: linear-gradient(25deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  }
  .item_{
    background-image: url(../assets/img/background.png);
  }

}