#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    font-size: 14px;
    margin-top: 10px;
    gap: 55px;
    background-color: white;
    transition: all ease .3s;
    
}
.navbar_scroll{
    position: fixed;
    padding: 0;
    top: 0;
    margin-top: 0 !important;
    z-index: 1000;
    width: 100%;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, .05);

}
#navbar_2{
    display: flex;
    
}
#navbar_2 a{
    width: 90px;
    text-align: center;
    height: 21px;
    color: black;
    overflow: hidden;
}
#navbar_2 a:nth-child(7){
    width: 125px;
    height: 20px;
    margin-left: 5px;
    border-bottom: solid 2px rgb(255, 255, 255);
    overflow: hidden;
}
/* Efectos Hover */

#navbar_2 a:nth-child(7):hover{
    border-bottom: solid 2px orangered;
    font-weight: bold;
    color: orangered; 
}
#navbar_2 a:hover{
    border-bottom: solid 2px orangered;
    font-weight: bold;
    color: orangered; 
}

#logo_proyeccion{
    height: 60px;
}