:root {
    --bg-color: #f7f7f7;
    --primary-color: #e26122;
    --Secondary-color: #be3f00;
    --font-text: #000000;


  }
.navbar_visible{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    font-size: 14px;
    gap: 55px;
    margin-top: 0;
    background-color: var(--bg-color);
    transition: all ease .6s;
}
.mode{
    display: flex;
    width: 50px;
}
#DarkMode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: var(--font-text);
    gap: 4px;
    margin-left: 55px;
}
a{
    text-decoration: none;
    color: var(--font-text);
}
.navbar_scroll{
    position: fixed;
    padding: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, .05);
}
.navbar_2_menu{
    display: flex;
    align-items: center;
    color: var(--font-text);
    height: 65px;
    position: relative;
}
.navbar_2_menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    text-align: center;
    height: 45px;
    color: rgb(88, 88, 88);
    overflow: hidden;
}
.navbar_2_menu a:nth-child(7){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 45px;
    margin-left: 5px;
    overflow: hidden;
}
/* Efectos Hover */

.navbar_2_menu a:nth-child(7):hover{
    border-bottom: solid 4px var(--primary-color);
    font-weight: bold;
    color: var(--primary-color); 
}
.selected_menubar {
    border-bottom: solid 4px var(--primary-color);
    font-weight: bold;
    color: var(--primary-color)!important;
}
.navbar_2_menu a:hover{
    border-bottom: solid 4px var(--primary-color);
    font-weight: bold;
    color: var(--primary-color);
}

#logo_proyeccion{
    height: 60px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(88, 88, 88) 0%, rgb(68, 68, 68) 90%);    color: var(--bg-color);
    text-align: center;
    font-size: .7em;
    padding: 4vh 0;
    width: 100vw;
    box-sizing: border-box;
    overflow-y: hidden;
    line-height: 1.4em;
}
.footer_cont h3{
    color: #e26122 ; 
    text-shadow: rgb(46, 46, 46) 1px 0 2px;
    line-height: 2em;
}
li{
    list-style: none;
    text-align: center;
}

.navbar_2_desp{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.navmenudesp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 45px;
    border: 1px solid black;
    margin: 0;
}
.main_cont_nav, .logo_icon_cont{
    display: none;
}
@media (max-width: 780px){
    .navbar_2_menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        z-index: 5;
    }
    .navbar_2_menu_visible{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        z-index: 5;
    }
    .navmenu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 45px;
        background-color: var(--primary-color);
        color: var(--bg-color);
        border: 1px solid var(--primary-color);
    }
    .navbar_scroll{
        position: fixed;
        padding: 0;
        top: 0;
        z-index: 1000;
        width: 100%;
        box-shadow: 0px 4px 3px rgba(0, 0, 0, .05);
    }
    .navbar_visible{
        flex-direction: column;
    }
    #logo_proyeccion{
        display: none;
    }
    #navbar_2 a:nth-child(7){
        width: 100vw;
        height: 35px;
        margin: 0;
    }
    .mode{
        display: none;
    }
    .logo_icon_cont{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
        box-sizing: border-box;
        height: 35px;
    }
    .logo_icon_cont img{
        margin: 20px;
        fill: var(--primary-color);
    }
    .logo_icon{
        width: 100px;
        height: auto;
        margin: 25px auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .menu_list{
        width: 35px;
    }
    .selected_menubar{
        border-bottom: solid 4px var(--primary-color);
        font-weight: bold;
        background-color: var(--Secondary-color);
        color: var(--bg-color)!important;
    }
    .myVideo{
        top: 0;
    }
    .main_sect{
        margin-top: 10px;
    }
    .logo_icon_cont{
        position: fixed;
        z-index: 4;
        background-color: var(--bg-color);
        width: 100vw;
    }
    #home{
        margin-top: 70px;
    }
    section[id]{
        scroll-margin-top: 85px;
    }
    .label_section_cont{
        margin: 0;
    }



}
