#card1{
    background-image: url('../assets/img/image_1.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#card2{
    background-image: url('../assets/img/image_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
#card3{
    background-image: url('../assets/img/image_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
#card4{
    background-image: url('../assets/img/image_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
#card5{
    background-image: url('../assets/img/image_5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#card6{
    background-image: url('../assets/img/image_6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
