# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Entornos
.env
.env.local
.env.*.local

# Sistema
.DS_Store
Thumbs.db

# Termux / Android específicas (opcional)
*.apk
.cache/
