* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: aliceblue;
}
h2{
    color: orangered;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
}
.login_{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(202, 202, 202);
    border-radius: 14px;
    gap: 7px;
    padding: 10px;
    margin-top: 25vh;
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    width: 100vw;
    gap: 25px;
}
.imge_capa{
    width: 300px;
}

input{
    width: 250px;
    text-align: center;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 12px;
    
}
button{
    width: 125px;
}
.button_{
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;

}
.info_property{
    justify-self: center;
    align-self: center;
    position: absolute;
    bottom: 0;
    font-size: 12px;
}
.login_container{
    align-items: center;
    justify-content: center;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
#navbar{
    position: absolute;
    top: 0;
}

@media (max-width: 880px){
    #navbar_2{
       display: none !important;
   }
   .container{
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin: 0;
   }
   .login_{
    margin: 25px;
    border: none;
   }
}
