@font-face {
    font-family: Helvetica;
    src: url(/proyectos/TROX-Induction/assets/fuentes/HelveticaNeue_LT_67_MdCn_Heavy.ttf);
    src: url(/proyectos/TROX-Induction/assets/fuentes/HelveticaNeue_LT_67_MdCn_Regular.ttf);
    src: url(/proyectos/TROX-Induction/assets/fuentes/396a25718aa788c4df0b49b11e6a248d.eot);
    src: url(/proyectos/TROX-Induction/assets/fuentes/396a25718aa788c4df0b49b11e6a248d.woff);
    src: url(/proyectos/TROX-Induction/assets/fuentes/396a25718aa788c4df0b49b11e6a248d.woff2);
}
body{
    font-family: "HelveticaNeueW02-47LtCn", "HelveticaNeueW02-67MdCn 694060", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    font-weight: 900;
}
header{
    display: flex;
    margin: 0 20px;
}
img {
    margin: 25px;
    width: 200px;
}
p{
    color: #6e7883;
    text-align: center;
}
.Bienvenido{
    display: grid;
    place-items: center;
}
.Bienvenido p{
    text-align:justify ;
    width: 88vw;
}
h1, h2, h3{
    color: #00375F;
    text-align: center;
}
#subcontainer2 p{
    display: inline-block;
    padding-right: 25px;
    color:#00375F ;
    font-weight: bold;
}
#Container2{
    margin-left: 35px;
}
#SubContainer1 p{
    display: inline-block;
    padding-right: 25px;
    font-size: .875rem;
    font-weight: 500;
}
.induction{
    display: grid;
    place-items: center;
}
.evaluacion {
    display: flex;
    flex-direction: column;
    width: 88vw;
    align-items: center;
    justify-content: center;
    margin: 4vw;
}

/* Validación para formulario */
.item2-incorrecto{
    color: #bb2929;
    opacity: 1;
}
.item2-correcto{
    color: #1ed12d;
    opacity: 1;
}
.item1-incorrecto{
    color: #bb2929;
    opacity: 1;
}
.item1-correcto{
    color: #1ed12d;
    opacity: 1;
}
.induction img{
    width: 75vw;
    border-radius: 20px;
}
.info img:hover{
    transform: scale(1.2);
    border-radius: 15px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.info div{
    width: 300px;
    margin: 0 25px;
    text-align: center;
    scroll-snap-align: center;
    box-sizing: border-box;
}
.info div p{
    margin-top: 0;
}
.info div .date{
    font-size: small;
    margin: 0;
}
.picture{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
}
footer div{
    flex-direction: column;
    width: 30vw;
    align-items: center;
    padding: 0px;
}
.info_footer{
    font-size: small;
    text-align: center;
    padding: 0px;
}
.info_footer ul{
    padding: 0px;
}
/* Validar CURP */

#registro_login pre{
    justify-items: center;
    align-items: center;
    width: 60%;
    margin: auto ;
    }
#resultado {
    color: red;
    font-weight: bold;
    border-radius: 15px;
    text-align: center;

}
#resultado.ok {
    color: green;
}
 /* Registro toggle */
 #registro_login .register_container{
    width: 600px;
    background: #e2e2e2;
    border-radius: 8px;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 7px;
}
.inputs_Container input{
    background: #f5f5f5;
    outline: none;
    border: none;
    margin: auto 15px;
    border-bottom:2px solid #6e7883;
    transition: all .5s ease;
    text-align: center;
    width: 200px;
}
.ir_Examen{
    width: 200px;
    height: 35px;
    background-color: #00375F;
    color: aliceblue;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 5px;
    margin: 25px auto auto;
    text-align: center;
    place-content: center;
    align-content: center;
    cursor: pointer;

}
.visible{
    display: none;
}
.result_container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-items: center;
    align-content: center;
}
@media (max-width: 600px){
     #registro_ {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    #registro_login .register_container{
        width: 100%;
        padding: 1px;

    }
    .inputs_Container input{
        width: 80%;
    }

    .infor_label{
        margin:5px auto;
    }
    #registro_login pre{
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 90%;
        justify-content: center;
        }
    #video_ img{
        width: 100%;
        margin: 0;
    }
    #submit_login{
        margin-bottom: 20px;
        justify-content: center;
    }
    #Container2{
        display: none;
    }
    #submit_register{
        width: 50%;
        display: inline-block;
        place-self: start;
        margin-top: 25px;
    }
    .reset_password{
        display: flex;
        margin: auto;
        margin-bottom: 20px;
    }
    .evaluacion .ir_Examen{
        font-size: 14px;
    }
    #email{
        display: none;
    }
    .title_info{
        margin: 7px 0;
    }
}
